.accessories {
    padding-top: 106px;

    &-heading {
        margin-bottom: 28px;
        color: var(--color-2);
        font-family: $font-Roboto;
        font-weight: var(--fw-700);
        font-size: var(--fz-36);
        text-align: center;
        line-height: 0.78;

    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-card {
        display: flex;
        width: calc((100% - 15px) / 2);
       padding: 47px 0;
        position: relative;
        background-color: #FAFAFA;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__aside {
            height: 120px;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &__title,
        &__subtitle{
            margin-top: 16px;
            text-align: center;
        }

        &__title {
            color: var(--color-2);
            font-family: $font-Poppins;
            font-weight: var(--fw-700);
            font-size: var(--fz-18);
            line-height: 23px;
        }

        &__subtitle {
            color: #525252;
            font-family: $font-Poppins;
            font-weight:var(--fw-400);
            font-size: var(--fz-18);
            line-height: 27px;
        }

        &__btn {
            padding: 12px;
            margin-top: 55px;
            background: none;
            color: #CB9D37;
            font-family: $font-Poppins;
            font-weight: var(--fw-600);
            font-size: var(--fz-16);
            line-height: 18px;

        }

        &__btn:hover {
            color: var(--color-white);
            background-color: #CB9D37;
            border-radius: 99px;
            
            transition: all 0.2s;
        }
    }
}