.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.container {
    max-width: 1186px;
    margin: 0 auto;
    width: calc(100% - 30px);
    height: auto;
}

.container-header {
    max-width: 1185px;
    margin: 0 auto;
    width: calc(100% - 30px);
    height: auto;
}

.container-content {
    max-width: 785px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.footer-container {
    max-width: 854px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

html {
    scroll-behavior: smooth;
}

main {
    padding-top: 155px;
}

.active1 {
    display: block !important;
    margin: 0 auto;
}

