
.product {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;

    &_wrapper {
        margin-right: 115px;
        max-width: 590px;
    }

    .mySwiper2 {
        max-width: 590px;
        max-height: 590px;;
        margin-bottom: 18px;
        border-radius: 10px;
    }

    .swiper {
      
        // &-wrapper {
        //     width: 100%;
        //     height: 100%;
        // }

        // &-slide {
        //     width: 100%;
        //     height: 100%;

        //     &-img {
        //         width: 100%;
        //         height: 100%;
        //     }
        // }

        &-button-next,
        &-button-prev {
            color: #cfcfcf;
        }

        &-button-next::after,
        &-button-prev::after {
            color: #cfcfcf;
            font-size: 12px;
        }

        &-button-next::after {
            left: 54px;
        }

        &-button-prev {
            left: 54px;
            right: auto;
        }

        &-button-next {
            left: auto;
            right: 54px;
        }
    }

    .mySwiper {
        max-width: 540px;
        width: 100%;
    }

    .slide {

        &-view {
            opacity: 0.4;
            border: 1px solid transparent;
            padding: 9px;
        }
    }
    
    .swiper-slide-thumb-active {
        border: 1px solid #a5a5a5;
        opacity: 1;
    }

    &-desc {
        display: flex;
        // align-items: flex-start;

        &__content {
            padding-top: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            color: var(--color-black);
        }

        &__title {
            color: var(--color-2);
            font-family: $font-Roboto;
            font-weight: var(--fw-700);
            font-size: var(--fz-36);
            line-height: 46px;
        }

        &__price {
            margin: 16px 0;
            line-height: 31.2px;
            color: var(--color-2);
            font-family: $font-Poppins;
            font-style: normal;
            font-weight: var(--fw-400);
            font-size: var(--fz-24);
        }

        &-type {
            font-family: $font-Poppins;
            font-weight: var(--fw-600);
            font-size: var(--fz-16);
            line-height: 1.23;
            cursor: pointer;

            &__item {
                padding-bottom: 11px;
                padding-right: 13px;
                margin-left: 25px;
                position: relative;
                color: var(--color-2);
             


                &:first-child {
                    margin-left: 0;
                }

                &:not(:first-child) {
                    color: #a5a5a5;
                }
            }

            &__item::after {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to right, #4b4b4b, #a1a1a1, #8a8a8a);
                content: "";
                height: 4px;
                border-radius: 15px;
            }

            &__item:nth-child(2)::after {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                color: #a5a5a5;
                background: linear-gradient(to right, #1c1b1b, #414141, #2d2c2c);
                content: "";
                height: 4px;
                border-radius: 15px;
            }

            &__item:nth-child(3)::after {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                color: #a5a5a5;
                background: linear-gradient(to right, #bd369f, #75226380);
                content: "";
                height: 4px;
                border-radius: 15px;
            }
        }

        &__mid {
            display: flex;
            flex-direction: column;
            margin-top: 61px;
            gap:16px;
        }

        &__quantity {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 38px;

            & span {
                font-family: $font-Poppins;
                font-weight: var(--fw-400);
                font-size: var(--fz-14);
                line-height: 18px;
                letter-spacing: 0.025em;
            }
        }

        &-count {
            &__input {
                &_group {
                    position: relative;
                    clear: both;
                    border: 2px solid #f2f2f2;
                    border-radius: 99px;

                    & button[type="button"] {
                        color: var(--color-2);
                        font-family: $font-Poppins;
                        font-weight: var(--fw-600);
                        font-size: var(--fz-16);
                        transition: all 300ms ease;
                    }

                    & input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }

                    & input {
                        margin: 0 7px;
                        color: var(--color-2);
                        font-family: $font-Poppins;
                        font-weight: var(--fw-600);
                        font-size: var(--fz-16);
                        text-align: center;
                    }
                    .button-minus,
                    .button-plus {
                        width: 38px;
                        height: 38px;
                        padding: 0;
                        position: relative;
                        font-weight: bold;
                    }

                    .button-plus {
                        left: -13px;
                    }
                    .button-minus {
                        left: 13px;
                    }
                }
            }
        }

        &__btn {
            display: flex;
            flex-direction: row;
        }
        &__text {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-top: 48px;
            line-height: 24px;
            color: var(--color-2);
            font-family: $font-Poppins;
            font-size: var(--fz-15);

            & p span {
                font-weight: var(--fw-700);
            }
        }
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 234px;
        min-height: 48px;
        position: relative;
        z-index: 2;
        background-color: transparent;
        border-radius: 99px;
        border: 0;
        padding: 2px;
        background: linear-gradient(86.15deg, #957327 0%, #dfc47a 100%);
      
        font-family: $font-Poppins;
        font-size: var(--fz-14);
        font-weight: var(--fz-600);
        line-height: 1.5;
        letter-spacing: 0.05em;
      
        cursor: pointer;
        white-space: nowrap;
      
        &:hover,
        &--outline {
          .btn {
            &__overlay {
              opacity: 1;
            }
      
            &__text {
              color: #cb9d37;
            }
          }
        }
      
        &--outline {
          &:hover {
            .btn {
              &__overlay {
                opacity: 0;
              }
      
              &__text {
                color: var(--color-white);
              }
            }
          }
        }
      
        &__overlay {
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 5;
          transform: translate(-50%, -50%);
          background-color: var(--color-white);
          border-radius: 99px;
          opacity: 0;
          transition: 0.3s;
        }
      
        &__text {
          padding: 0 15px;
          position: relative;
          z-index: 10;
      
          color: var(--color-white);
      
          transition: 0.3s;
        }
      }
}



    .btn + .btn {
        margin-left: 12px;
    }
