.product {
    margin-top: 53px;

    &-container {
        padding: 0 127px 0 124px;
    }
    &-wrapper {
        display: flex;
        // justify-content: space-between;
        // column-gap: 115px;
    }

    &-swiper {
        max-width: 589px;
        width: 100%;
        height: 100%;
        margin-right: 115px;
    }
    .swiper {
        &-slide {
            width: 589px;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;

            &-img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-button-next,
        &-button-prev {
            color: #cfcfcf;
        }
        
        &-button-next::after,
        &-button-prev::after {
            color: #cfcfcf;
            font-size: 12px;
        }

        &-button-next::after {
            left: 54px;
        }

        &-button-prev {
            left: 54px;
            right: auto;
        }

        &-button-next {
            left: auto;
            right: 54px;
        }
    }

    .mySwiper {
        margin-top: 18px;
        max-width: 540px;
        width: 100%;
        // height: 20%;
        box-sizing: border-box;
    }

    .slide {
        &-view {
            opacity: 0.4;
            border: 1px solid transparent;
            padding: 9px;
        }
    }

    .swiper-slide-thumb-active {
        border: 1px solid #a5a5a5;
        opacity: 1;
    }

    &-desc {
        max-width: 485px;
        margin-top: 103px;

        &__heading {
            color: $color-heading;
            font-family: $font-Roboto;
            font-weight: var(--fw-700);
            font-size: var(--fz-36);
            line-height: 46px;
        }

        & h4 {
            margin-top: 16px;
            color: $color-heading;
            font-family: $font-Poppins;
            font-style: normal;
            font-weight: var(--fw-400);
            font-size: var(--fz-24);
        }
        &-type {
            margin-top: 16px;
            font-family: $font-Poppins;
            font-weight: var(--fw-600);
            font-size: var(--fz-16);
            line-height: 18px;
            cursor: pointer;

            &__item {
                padding-bottom: 9px;
                margin-left: 25px;
                position: relative;
                color: $color-heading;

                &:first-child {
                    margin-left: 0;
                }

                &:not(:first-child){
                    color: #A5A5A5;

                }
            }

            &__item::after {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to right, #4b4b4b, #a1a1a1, #8a8a8a);
                content: "";
                height: 4px;
                border-radius: 15px;
            }

            &__item:nth-child(2)::after {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                color: #A5A5A5;
                background: linear-gradient(to right, #1c1b1b, #414141, #2d2c2c);
                content: "";
                height: 4px;
                border-radius: 15px;
            }

            &__item:nth-child(3)::after {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                color: #A5A5A5;
                background: linear-gradient(to right, #bd369f, #75226380);
                content: "";
                height: 4px;
                border-radius: 15px;
            }
        }

        &-count {
            display: flex;
            margin-top: 48px;
            align-items: center;

            & span {
                font-family: $font-Poppins;
                font-weight: var(--fw-400);
                font-size: var(--fz-14);
                line-height: 18px;
                letter-spacing: 0.025em;
            }

            &__input {

                &_group {
                    margin-left: 38px;
                    position: relative;
                    clear: both;
                    border: 2px solid #f2f2f2;
                    border-radius: 99px;

                    & button[type="button"] {
                        color: $color-heading;
                        font-family: $font-Poppins;
                        font-weight: var(--fw-600);
                        font-size: var(--fz-16);
                        transition: all 300ms ease;
                    }

                    & input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }

                    & input {
                        margin: 0 7px;
                        color: $color-heading;
                        font-family: $font-Poppins;
                        font-weight: var(--fw-600);
                        font-size: var(--fz-16);
                        text-align: center;
                    }
                    .button-minus,
                    .button-plus {
                        width: 38px;
                        height: 38px;
                        padding: 0;
                        position: relative;
                        font-weight: bold;
                    }

                    .button-plus {
                        left: -13px;
                    }
                    .button-minus {
                        left: 13px;
                    }
                }
            }
        }

        &__btn {
            margin-top: 16px;

            &__add {
                padding: 15px 71.5px;
                color: #cb9d37;
                background: linear-gradient(#f5f5f5 0 0) padding-box,
                    linear-gradient(to right, #cc9f3a, #ebcf82) border-box;
            }

            &__order {
                padding: 15px 78px;
                color: $white;
                background: linear-gradient(to right, #957327, #dfc47a);
            }
        }

        &-text {
            margin-top: 16px;
            color: $color-heading;
            font-family: $font-Poppins;
            font-size: var(--fz-15);
            line-height: 1.6;

            & p {
                font-weight: var(--fw-700);
            }
            & span {
                font-weight: var(--fw-400);
            }
        }
    }
    .btn {
        display: inline-block;
        font-family: $font-Poppins;
        font-weight: var(--fw-600);
        font-size: var(--fz-14);
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.05em;
        border-radius: 30px;
        border: 2px solid;
        border-width: 2px;
    }
    .btn + .btn {
        margin-left: 12px;
    }
}
