::-webkit-scrollbar {
  display: none;
}
html {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  input,
  textarea,
  select,
  button {
    background: none;
    border: none;
    outline: none;
  }

  input {
    line-height: normal;
  }

  label,
  button {
    cursor: pointer;
  }

  ul{
    list-style: none;
  }

  li{
    list-style-type: none;

  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
  }
  